* p{
	font-size: 14px;
	font-family: helvetica, "sans serif";
}
h1{
	font-family: cursive;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center,horizontal;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");


}

#brushes{
	font-family: cursive;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: mediumspringgreen;

}

#frames{
	background-color: lightcoral;
	font-size: 32px;
	font-family: cursive;


}

#paints{
	font-size: 32px;
	font-family: cursive;
	background-color: skyblue;

}
a{
	font-family: helvetica, "sans serif";
	font-weight: bold;
	color: blue;
}
